<% if user_signed_in? %>
  <%= simple_form_for(@post, html: {class: "form-horizontal"}) do |f| %>
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= link_to 'Textile references', 'http://daringfireball.net/projects/markdown/syntax#html' %>

    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.input :title %>
    <%= f.input :content %>
      
    <div class="form-actions">
      <%= f.button :submit, "Publish Post", class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %> 