<div class="page-header">
  <h1>Posts</h1>
</div>

<% if user_signed_in? %>
  <%= link_to 'Create Post', new_post_path, class: "btn btn-primary" %>
<% end %>

<% @posts.each do |post| %>
<div class="Post">
  <h3><strong><%= link_to post.title, post %></strong></h3>
    <div class="meta">
      <%= "Por " + post.user.full_name %> | <%= post.created_at.strftime("%Y-%m-%d %H:%M:%S")  %>
      <span class = "admin">
        <% if current_user == post.user %>
        | <%= link_to 'Edit', edit_post_path(post), class: "btn btn-warning btn-small" %></td> 
        | <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure Delete this status?' }, class: "btn btn-danger btn-small" %>
        <% end %>
      </span>
    </div>
</div>
<% end %> 